body {
    font-size: 22px;
    background-color: gold;
    border: 5px solid red;
}
h1, h2 {
    color: blue;
}

p {
    font-size: 100px;    
    color:rgb(192, 164, 145);      
}
p span {
    text-transform: uppercase;
    background-color: gold;
}

.gray {
    color: gray;
    font-size: 32px;
}
#second {
    font-style: italic;
}