{% extends "main/base.html" %}
{% load static %}

{% block title %}Educated Owl Books{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

{% include "main/partials/book_shelf.html" with title="Newly Enriched" books=recently_enriched %}
{% include "main/partials/book_shelf.html" with title="Highly Rated by Readers" books=highly_rated %}
{% include "main/partials/book_shelf.html" with title="Timeless Classics" books=classics %}

<section class="cta-section">
    <a href="{% url 'public_listings' %}" class="base-link">
        <strong>Browse books currently for sale →</strong>
    </a>
</section>

{% endblock %}
